@model PhotoCommunity2025.Models.User

@{
    ViewData["Title"] = "Редактирование профиля";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h2>Редактирование профиля</h2>

        <form method="post" asp-action="EditProfile">
            <input type="hidden" asp-for="UserId" />

            <div>
                <label asp-for="FirstName">Имя:</label>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="LastName">Фамилия:</label>
                <input asp-for="LastName"  />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="MiddleName">Отчество:</label>
                <input asp-for="MiddleName"  />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Cameras">Список камер:</label>
                <input asp-for="Cameras"  />
                <span asp-validation-for="Cameras" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Lenses">Список объективов:</label>
                <input asp-for="Lenses" />
                <span asp-validation-for="Lenses" class="text-danger"></span>
            </div>

            <div>
                <button type="submit" asp-route-username="@Model.Login" class="btn">Сохранить изменения</button>
            </div>
        </form>

        <h3>Удаление аккаунта</h3>
        <form method="post" asp-action="DeleteAccount">
            <input type="hidden" asp-for="UserId" />
            <div>
                <button type="submit" class="btn" style="color:red;">Удалить аккаунт</button>
            </div>
        </form>
    </div>
</body>
</html>

