@model PhotoCommunity2025.Models.User

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" /> 
</head>
<body>
    <div class="container">
        <h2>Регистрация</h2>

        <form method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>
                <label asp-for="FirstName">Имя:</label>
                <input asp-for="FirstName" />
            </div>
            <div>
                <label asp-for="LastName">Фамилия:</label>
                <input asp-for="LastName"/>
            </div>
            <div>
                <label asp-for="MiddleName">Отчество:</label>
                <input asp-for="MiddleName"/>
            </div>
            <div>
                <label asp-for="Login">Логин:</label>
                <input asp-for="Login" />
            </div>
            <div>
                <label asp-for="Password">Пароль:</label>
                <input asp-for="Password" type="password" />
            </div>
            <div>
                <label asp-for="Cameras">Список камер:</label>
                <input asp-for="Cameras"/>
            </div>
            <div>
                <label asp-for="Lenses">Список объективов:</label>
                <input asp-for="Lenses" />
            </div>
            <div>
                <button type="submit">Зарегистрироваться</button>
            </div>
        </form>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="text-danger">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
        }
    </div>
</body>
</html>