<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница - Photo Community</title>
</head>
<body>

    <main>
        <h1>Добро пожаловать в фотосообщество!</h1>
        <p>Здесь вы можете делиться своими фотографиями и общаться с другими фотолюбителями.</p>
    </main>

</body>
</html>