<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница - Photo Community</title>
    <link rel="stylesheet" href="~/css/site.css" /> 
</head>
<body>

    <main class="container">
        <h2>Добро пожаловать в фотосообщество!</h2>
        <div class="button-container text-center">
            <form action="/User/Register" method="get">
                <button type="submit" class="btn">Зарегистрироваться</button>
            </form>

            <form action="/User/Login" method="get">
                <button type="submit" class="btn">Войти</button>
            </form>
    </main>

</body>
</html>